 @using kuaforsalonu.Models
@model List<Musteri>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />

<table class="table table-bordered">
    <tr>
        <th> Müsteri Adı </th>
        <th> Soyadı </th>
        <th> Kullanıcı Adı</th>
        <th> Email</th>
        <th> Şifre</th>
        <th> Adres</th>
        <th> Telefon</th>
        <th> Güncelle</th>
        <th> Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Adi</td>
            <td>@item.Soyadi</td>
            <td>@item.KullaniciAdi</td>
            <td>@item.Email</td>
            <td>@item.Sifre</td>
            <td>@item.Adres</td>
            <td>@item.Telefon</td>
            <td><a href="/AdminMusteri/Edit/@item.MusteriNo" class="btn btn-success">Güncelle</a></td>
            <td><a href="/AdminMusteri/Delete/@item.MusteriNo" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/AdminMusteri/Create/" class="btn btn-primary">Yeni Müşteri Ekle</a>