@using kuaforsalonu.Models
@model List<Salon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />

<table class="table table-bordered">
        <tr>
            <th> ID </th>
            <th> Ad</th>
            <th> Adres </th>
            <th>Telefon</th>
            <th> Çalışma Saatleri </th>
            <th> Güncelle</th>
            <th> Sil</th> 
            <th> Detaylar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SalonId</td>
                <td>@item.Ad</td>
                <td>@item.Adres</td>
                <td>@item.Telefon</td>
                <td>@item.CalismaSaatleri</td>
                <td><a href="/Salon/Edit/@item.SalonId" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Salon/Delete/@item.SalonId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Salon/Details/@item.SalonId" class="btn btn-default" style="background-color:yellow">Detaylar</a></td>
            </tr>
        }
</table>
<a href="/Salon/Create"class="btn btn-primary">Yeni Salon Ekle</a>