@model kuaforsalonu.Models.Calisan
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<form class=" " form-group" method="post">
    <b>Adı</b>
    @Html.TextBoxFor(x => x.Adi, new { @class = "form-control" })
    <br />
    <b>Soyadı</b>
    @Html.TextBoxFor(x => x.Soyadi, new { @class = "form-control" })
    <br />
    <b>Kullanıcı Adı</b>
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />
    <b>E mail</b>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    <b>Şifre</b>
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <br />
    <b>Adres</b>
    @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
    <br />
    <b>Telefon</b>
    @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Yeni Çalışan Ekle</button>
</form>
